<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto:wght@100&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <title>Ingresá</title>
</head>

<body>
    <header class="main-header">

        <div class="contenedor-header">

            <img class="logo" src="images/logo-mercado-liebre.svg" alt="logo">
            <input class="search" type="search" placeholder="Buscar productos, marcas">

            <h2 class="compra-en-cuotas"><i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito </h2>

        </div>

        <br>
        <nav class="nav-bar">

            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <br>

            <ul class="right-navbar">
                <li>
                    <div class="enlace-icono">
                        <a href="/register">Creá tu cuenta</a>
                        <i class="fa-regular fa-id-card"></i>
                    </div>
                </li>

                <li>
                    <div class="enlace-icono">
                        <a href="/login">Ingresá</a>
                        <i class="fa-solid fa-right-to-bracket"></i>
                    </div>
                </li>
                <li>
                    <div class="enlace-icono">
                        <a href="#">Mis compras</a>
                        <i class="fa-solid fa-basket-shopping"></i>
                    </div>

                </li>
            </ul>



        </nav>

        <a href="#" class="burger-menu">
            <i class="fas fa-bars"></i>
        </a>

    </header>
    <main>
        <form class="form-login" action="/">


            <label for="usuario"></label>
            <input type="text" name="usuario" id="usuario" placeholder="Nombre de usuario">


            <label for="password"></label>
            <input type="password" name="password" id="password" placeholder=" Elegí tu contraseña">



            <button class="button-login" type="submit">Enviar</button>



        </form>
        <footer>

            <section class="container-footer">

                <i class="fa-solid fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p class="cuerpos-texto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>


                <i class="fa-solid fa-gift"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p class="cuerpos-texto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>


                <i class="fa-solid fa-user-shield"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p class="cuerpos-texto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>


                <p class="cuerpos-texto">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

            </section>

        </footer>


</body>

</html>